<div class="text-center">
    <p class="btn-group" ng-hide="loading">
        <a ng-href="#/my-account/video/{{video.id}}/edit" class="btn btn-warning" role="button">Edit</a>
        <a ng-href="#/account/{{video.account.id}}/video/{{video.id}}" class="btn btn-primary" role="button">Preview</a>
        <a ng-really-message="Are you really want to delete this video?" ng-really-click="deleteVideo(video)" class="btn btn-danger" role="button">Delete</a>
    </p>
</div>