<div class="text-center">
    <p>
        <span us-spinner="{radius:25, width:10, length: 20, color: 'blue'}">LOADING MORE VIDEOS...</span>
    </p>
    <button type="button" class="btn btn-lg btn-primary" ng-disabled="dataPage.last || loading" ng-click="loadMore()">Load More Videos</button>
</div>