<!--confirm email and password fields validation-->
<script type="text/javascript">
    var password = document.getElementById("password");
    var passwordRegex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,15}$/;

    function validatePassword() {
        if (password.value.match(passwordRegex)) {
            password.setCustomValidity('');
        } else {
            password.setCustomValidity("Password must contain 6 - 15 chars, and at least one upper case, one lower case and one number");
        }
    }
    password.onkeyup = validatePassword;
</script>
<!--confirm password field validation-->
<script type="text/javascript">
    var password = document.getElementById("password");
    var confirm = document.getElementById("confirm");

    function validatePasswordConfirm() {
        if (password.value != confirm.value) {
            confirm.setCustomValidity("Passwords Don't Match");
        } else {
            confirm.setCustomValidity('');
        }
    }

    password.onchange = validatePasswordConfirm;
    confirm.onkeyup = validatePasswordConfirm;
</script>
