<div class="col-md-4 single-right">
    <h3>Same Author</h3>
    <div class="single-grid-right">
        <div class="single-right-grids" ng-repeat="video in dataPage.content">
            <div class="col-md-4 single-right-grid-left">
                <a ng-href="#/account/{{video.account.id}}/video/{{video.id}}"> <img ng-src="{{video.thumbnailSmall}}" alt=""/> </a>
            </div>
            <div class="col-md-8 single-right-grid-right">
                <a ng-href="#/account/{{video.account.id}}/video/{{video.id}}" class="title">{{video.title}}</a>
                <p class="author author-info">{{video.account.name}}</p>
                <p class="views">{{video.views}} views</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="text-center">
            <p>
                <span us-spinner="{radius:25, width:10, length: 20, color: 'blue'}">LOADING MORE VIDEOS...</span>
            </p>
            <button type="button" class="btn btn-sm btn-primary" ng-disabled="dataPage.last || loading" ng-click="loadMore()">Load More Videos</button>
        </div>
    </div>
</div>