<div class="media vcp-media">
    <div class="media-left">
        <img class="media-object small-avatar thumbnail" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" ng-src="{{video.account.avatar | trusted}}" alt="avatar">
    </div>
    <div class="media-body">
        <h4 class="media-heading"> {{video.account.name}}</h4>
        <p>{{video.description}}</p>
        <span>Company: "{{video.account.company.name}}"</span> <br/> <span>{{video.views}} views</span>
    </div>
</div>
