<div class="video-info text-center">
    <h3>{{video.title}}</h3>
</div>
<div class="embed-responsive embed-responsive-16by9">
    <a ng-href="#/account/{{video.account.id}}/video/{{video.id}}"> <img width="547" height="308" ng-src="{{video.thumbnailMedium}}" alt=""/> </a>
</div>
