<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="video in dataPage.content">
            <div class="thumbnail video-frame">
                <div ng-include="'/static/html/include/video-preview.html'"></div>
                <div class="caption">
                    <div ng-include="'/static/html/include/video-description.html'"></div>
                    <hr/>
                    <p ng-hide="video.account.login === principal.name && principal.role === 'USER'" class="text-center">
                        <a ng-href="#/account/{{video.account.id}}/video/{{video.id}}" class="btn btn-primary" role="button">Preview</a>
                    </p>
                    <div ng-show="video.account.login === principal.name && principal.role === 'USER'" ng-include="'/static/html/include/control-video-panel.html'"></div>
                </div>
            </div>
            <!--<span us-spinner="{radius:25, width:10, length: 20, color: 'blue'}"></span>-->
        </div>
    </div>
    <div ng-include="'/static/html/include/load-more.html'"></div>
</div>
<div class="clearfix"></div>