.small-avatar {
    width: 80px;
    height: 80px;
}

.video-frame {
    min-height: 490px;
}

.vcp-media {
    height: 170px;
    margin-bottom: 0;
}

.admin-content {
    width: 80%;
    margin: auto;
    font-size: medium;
}

.edit-video {
    width: 820px;
    margin: auto;
    font-size: medium;
}

.edit-video-form {
    width: 80% !important;
}

.admin-form, .edit-video-form, .password-restore-form {
    width: 60%;
    text-align: left;
    margin: auto;
    font-size: medium;
}

.password-restore-form {
    text-align: center;
}

.modal-body {
    text-align: center;
    font-size: medium;
}

.admin-table {
    text-align: left;
}

.error-message, .error-page-message {
    color: red;
}

.error-message {
    text-align: center;
    font-size: medium;
    margin-bottom: 10px;
}

.error-page-message {
    margin-top: 150px;
}

.success-message {
    font-size: small;
    color: green;
}

.form-avatar {
    margin-bottom: 10px;
}

.form-avatar img{
    height: 80px;
    width: 80px;
}

/** Styling input[type=file] **/
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    right: 0;
    margin-left: -70px;
    margin-top: -250px;
    min-width: 130%;
    min-height: 70%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

/* --- material floating label --- */
.form-group {
    display: flex;
    height: 55px;
    margin-bottom: 10px;
}

.video-upload-input {
    margin-bottom: 0;
}

.video-upload-form-group {
    height: 35px;
    margin-bottom: 0;
}

.control-label {
    font-size: large;
    font-weight: 600;
    opacity: 0.4;
    pointer-events: none;
    position: absolute;
    transform: translate3d(0, 22px, 0) scale(1);
    transform-origin: left top;
    transition: 240ms;
}

.form-group.focused .control-label {
    opacity: 1;
    transform: scale(0.75);
}

.form-control {
    align-self: flex-end;
}

.form-control::-webkit-input-placeholder {
    color: transparent;
    transition: 240ms;
}

.form-control:focus::-webkit-input-placeholder {
    transition: none;
}

.form-group.focused .form-control::-webkit-input-placeholder {
    color: #bbb;
}