/* Styles for dialog window */
#small-dialog,#small-dialog2,#small-dialog3,#small-dialog4,#small-dialog5,#small-dialog6,#small-dialog7,#small-dialog8{
	background: #FFF;
    padding: 20px;
    text-align: left;
    max-width: 35%;
    margin: 40px auto;
    position: relative;
    text-align: center;
    box-shadow: 0 0 8px 2px #CACACA;
    -webkit-box-shadow: 0 0 8px 2px #CACACA;
    -ms-box-shadow: 0 0 8px 2px #CACACA;
    -o-box-shadow: 0 0 8px 2px #CACACA;
    -moz-box-shadow: 0 0 8px 2px #CACACA;
}
#small-dialog-it,#small-dialog-in,#small-dialog-fr,#small-dialog-sh,#small-dialog-sf,#small-dialog-su,#small-dialog-me,#small-dialog-ch,#small-dialog-pi,#small-dialog-am {
	background: white;
	padding:20px;
	text-align: left;
	max-width: 450px;
	margin: 40px auto;
	position: relative;
	text-align:center;
}
a.play-icon.popup-with-zoom-anim img:hover {
	opacity: 0.5;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
}
.portfolio-items{
	text-align:center;
	margin:0 auto;
}
.portfolio-items img{
	width:100%;
}
.portfolio-items h4{
	margin:1em 0;
	font-size:25px;
	color:#a63d56;
}
.portfolio-items p{
	text-align:justify;
}
/**

/**
 * Fade-zoom animation for first dialog
 */

/* start state */
.my-mfp-zoom-in #small-dialog {
opacity: 0;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
-webkit-transform: scale(0.8);
-moz-transform: scale(0.8);
-ms-transform: scale(0.8);
-o-transform: scale(0.8);
transform: scale(0.8);
}
.my-mfp-zoom-in #small-dialog2 {
opacity: 0;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
-webkit-transform: scale(0.8);
-moz-transform: scale(0.8);
-ms-transform: scale(0.8);
-o-transform: scale(0.8);
transform: scale(0.8);
}
.my-mfp-zoom-in #small-dialog3 {
opacity: 0;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
-webkit-transform: scale(0.8);
-moz-transform: scale(0.8);
-ms-transform: scale(0.8);
-o-transform: scale(0.8);
transform: scale(0.8);
}
.my-mfp-zoom-in #small-dialog4 {
opacity: 0;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
-webkit-transform: scale(0.8);
-moz-transform: scale(0.8);
-ms-transform: scale(0.8);
-o-transform: scale(0.8);
transform: scale(0.8);
}
.my-mfp-zoom-in #small-dialog5 {
opacity: 0;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
-webkit-transform: scale(0.8);
-moz-transform: scale(0.8);
-ms-transform: scale(0.8);
-o-transform: scale(0.8);
transform: scale(0.8);
}
.my-mfp-zoom-in #small-dialog6 {
opacity: 0;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
-webkit-transform: scale(0.8);
-moz-transform: scale(0.8);
-ms-transform: scale(0.8);
-o-transform: scale(0.8);
transform: scale(0.8);
}
.my-mfp-zoom-in #small-dialog7 {
opacity: 0;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
-webkit-transform: scale(0.8);
-moz-transform: scale(0.8);
-ms-transform: scale(0.8);
-o-transform: scale(0.8);
transform: scale(0.8);
}
.my-mfp-zoom-in #small-dialog8 {
opacity: 0;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
-webkit-transform: scale(0.8);
-moz-transform: scale(0.8);
-ms-transform: scale(0.8);
-o-transform: scale(0.8);
transform: scale(0.8);
}
/* animate in */
.my-mfp-zoom-in.mfp-ready #small-dialog {
opacity: 1;
-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);
}
.my-mfp-zoom-in.mfp-ready #small-dialog2 {
opacity: 1;
-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);
}
.my-mfp-zoom-in.mfp-ready #small-dialog3 {
opacity: 1;
-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);
}
.my-mfp-zoom-in.mfp-ready #small-dialog4 {
opacity: 1;
-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);
}
.my-mfp-zoom-in.mfp-ready #small-dialog5 {
opacity: 1;
-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);
}
.my-mfp-zoom-in.mfp-ready #small-dialog6 {
opacity: 1;
-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);
}
.my-mfp-zoom-in.mfp-ready #small-dialog7 {
opacity: 1;
-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);
}
.my-mfp-zoom-in.mfp-ready #small-dialog8 {
opacity: 1;
-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);
}
/* animate out */
.my-mfp-zoom-in.mfp-removing #small-dialog {
-webkit-transform: scale(0.8);
-moz-transform: scale(0.8);
-ms-transform: scale(0.8);
-o-transform: scale(0.8);
transform: scale(0.8);
opacity: 0;
}
.my-mfp-zoom-in.mfp-removing #small-dialog2 {
-webkit-transform: scale(0.8);
-moz-transform: scale(0.8);
-ms-transform: scale(0.8);
-o-transform: scale(0.8);
transform: scale(0.8);
opacity: 0;
}
.my-mfp-zoom-in.mfp-removing #small-dialog3 {
-webkit-transform: scale(0.8);
-moz-transform: scale(0.8);
-ms-transform: scale(0.8);
-o-transform: scale(0.8);
transform: scale(0.8);
opacity: 0;
}
.my-mfp-zoom-in.mfp-removing #small-dialog4 {
-webkit-transform: scale(0.8);
-moz-transform: scale(0.8);
-ms-transform: scale(0.8);
-o-transform: scale(0.8);
transform: scale(0.8);
opacity: 0;
}
.my-mfp-zoom-in.mfp-removing #small-dialog5 {
-webkit-transform: scale(0.8);
-moz-transform: scale(0.8);
-ms-transform: scale(0.8);
-o-transform: scale(0.8);
transform: scale(0.8);
opacity: 0;
}
.my-mfp-zoom-in.mfp-removing #small-dialog6 {
-webkit-transform: scale(0.8);
-moz-transform: scale(0.8);
-ms-transform: scale(0.8);
-o-transform: scale(0.8);
transform: scale(0.8);
opacity: 0;
}
.my-mfp-zoom-in.mfp-removing #small-dialog7 {
-webkit-transform: scale(0.8);
-moz-transform: scale(0.8);
-ms-transform: scale(0.8);
-o-transform: scale(0.8);
transform: scale(0.8);
opacity: 0;
}
.my-mfp-zoom-in.mfp-removing #small-dialog8 {
-webkit-transform: scale(0.8);
-moz-transform: scale(0.8);
-ms-transform: scale(0.8);
-o-transform: scale(0.8);
transform: scale(0.8);
opacity: 0;
}
/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
opacity: 0;
-webkit-transition: opacity 0.3s ease-out;
-moz-transition: opacity 0.3s ease-out;
-o-transition: opacity 0.3s ease-out;
transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  background: #FFF;
  opacity: .5;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
opacity: 0;
}
/**
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }
.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto;
  background-color: rgba(255, 255, 255, 0.01);
  padding: 5em 0;
}
.mfp-content h3{
    color: #757575;
    font-size: 24px;
    margin: 0 0 1em 0;
    text-align: center;
}
.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }
.mfp-content iframe{
	width:100%;
	min-height:500px;
}
.mfp-preloader {
  color: #cccccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }

.mfp-preloader a {
  color: #cccccc; }

.mfp-preloader a:hover {
  color: white; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    border: 0;
    -webkit-appearance: none;
    display: block;
    padding: 0;
    z-index: 1046;
 }
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
	width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    padding: 0 0 18px 10px;
    color: #3A3939;
    font-style: normal;
    font-size: 28px;
    outline: none;
 }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1; }

.mfp-close-btn-in .mfp-close {
	    background: none;
  }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: white;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; 
}
.signup {
    position: relative;
    padding-top: 2em;
    width: 80%;
    margin: auto;
}
.login h3,.signup h3{
	margin: 0;
	color: #3498DB;
	text-align: left;
	position: absolute;
	top: 2px;
	left: 54px;
}
.login h3, .signup h4  a{
	text-align: right;
	position: absolute;
	margin: 0;
	top: 10px;
	right: 58px;
}
.login input[type="text"],.login input[type="password"]{
	width:90%;
	padding:5px;
	margin:3px 0;
	border: 1px solid #a63d56;
	outline: none !important;
}
.signup input[type="text"]{
	width: 44.5%;
	padding: 5px;
	margin: 10px 0;
	font-size: 14px;
	outline: none;
	background: #EBEBEB;
	border: solid 1px #222;
}
.signup input.login[type="text"],.signup input[type="password"]{
  width: 90%;
  padding: 10px;
  background: #FFF;
  margin: 10px 0;
  font-size: 14px;
  outline: none;
  color: #817F7F;
  border: solid 1px #817F7F;
}
.login input[type="submit"],.signup input[type="submit"]{
    border: 0px;
    padding: .5em 2em;
    background: #21DEEF;
    margin: 1em 0 0 0;
    outline: none;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    -webkit-appearance: none;
    position: relative;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
}
.login input[type="submit"]:hover,.signup input[type="submit"]:hover{
  background: #C7C7C7;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.button-bottom {
  margin-top: 1em;
}
.button-bottom p{
	  color: #333;
	  font-size:14px;
}
.button-bottom p a{
  color: #DF2229;
}
.button-bottom p a:hover{
	color:#C7C7C7;	
}
.continue-button a {
    padding: .5em 2em;
    background: #21DEEF;
    margin: 1em 0 0 0;
    outline: none;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    -webkit-appearance: none;
    position: relative;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
}
.continue-button a:hover{
	text-decoration:none;
	background: #E2E2E2;
}
.remember-me {
    text-align: right;
    margin-right: 21px;
}
.forgot, .remember-me {
  margin-top: 1em;
}
.forgot a, .remember-me label{
	color:#000;
    font-weight: inherit;
	font-size:14px;
}
.forgot a:hover, .remember-me label:hover{
	color:#DF2229;
	text-decoration:none;
}
.continue-button {
    margin: 2em 0 0 0;
}
@media all and (max-width:768px){
	#small-dialog, #small-dialog2 {
		  max-width: 85% !important;
	}
	
}
@media all and (max-width:991px){
	.social-sits ul li a {
		font-size: 13px;
	}
	#small-dialog4 {
		    max-width: 70% !important;
	}
	#small-dialog5 {
		max-width: 50% !important;
	}
	#small-dialog8 {
		width: 60% !important;
	}
}
@media all and (max-width:768px){
	#small-dialog, #small-dialog2, #small-dialog3, #small-dialog4, #small-dialog5, #small-dialog6, #small-dialog7, #small-dialog8 {
		 max-width: 80%;
	}
	#small-dialog8 {
		width: 70% !important;
	}
}
@media all and (max-width:640px){
	.social-sits {
		float: none !important;
		text-align: center !important;
		padding: 3em 0 0 0em !important;
		width: 100% !important;
	}
	.signup {
		position: relative;
		padding: 2em 0 0 0em;
		float: none;
		width: 100%;
		border-left: none;
		text-align: center;
	}
	#small-dialog5 {
		max-width: 75% !important;
	}
}
@media all and (max-width:480px){
	.comments-area textarea{
		height:100px;
	}
	.login input[type="submit"], .signup input[type="submit"] {
		font-size: 14px;
		width: 20%;
	}
	.social-sits {
		padding-top: 0em !important;
		float: none;
		width: 100% !important;
	}
	.social-sits ul li a {
	  font-size: 14px;
	}
	.signup {
	  padding: 0;
	  float: right !important;
	  width: 100%;
	  border-left: none;
	  text-align: left;
	}
	.login input[type="submit"], .signup input[type="submit"] {
	  width: 50%;
	}
	.mfp-content h3 {
		font-size: 18px;
	}
	.mfp-content h3 {
		margin: 0 0 2em 0;
	}
}
@media all and (max-width:320px){
	#small-dialog, #small-dialog2 {
		max-width: 95% !important;
	}
	#small-dialog, #small-dialog2, #small-dialog3, #small-dialog4, #small-dialog5, #small-dialog6, #small-dialog7, #small-dialog8 {
		max-width: 95%;
	}
	.comments-area span.label,.comments-area span.text-field{
		float:none;
		width:100%;
	}
	.comments-area span{
		padding-bottom:3px;
	}
	#small-dialog{
		padding:15px;
	}
	.comments-area input[type="text"], .comments-area textarea{
		width:92%;
	}
	.comments-area div{
		padding:2px 0;
	}
	.mfp-content iframe{
		width:100%;
		min-height:250px;
	}
	.login input[type="submit"], .signup input[type="submit"] {
		font-size: 12px;
		  width: 50% !important;
	}
	.signup input[type="text"] {
		width: 90%;
	}
	.login h3, .signup h3 {
		top: 7px;
		left: 25px;
		font-size: 18px;
	}
	.login h3, .signup h4 a {
		top: 7px;
		right: 19px;
		font-size: 18px;
	}
	.signup {
		  padding:0 !important;
	}
	.social-sits ul li a {
	  font-size: 13px !important;
	}
	.signup input.login[type="text"], .signup input[type="password"] {
		width: 100% !important;
	}
	.mfp-content h3 {
	    font-size: 16px;
		margin: 0 0 2em 0;
	}
	.facebook-button a {
		background: url(../images/fb1.png) no-repeat 8px 9px #3b5998 !important;
		padding: .5em .5em .5em 2em !important;
		font-size: 13px !important;
	}
	.chrome-button a {
		background: url(../images/ch1.png) no-repeat 8px 9px #dd4b39 !important;
		font-size: 13px !important;
		padding: .5em .5em .5em 2em !important;
	}
	.social-sits ul li a {
		padding: .5em 1em;
	}
	.mfp-close {
		right: -8px;
		top: -5px;
	}
	.continue-button a {
		font-size: 14px !important;
	}
	#small-dialog4 {
		max-width: 92% !important;
	}
	.signup input.login[type="text"], .signup input[type="password"] {
		padding: 6px;
		font-size:13px;
	}
} 
.social-sits{
    float: left;
    text-align: left;
    padding: 3em 0 0 3em;
    width: 50%;
}
.social-sits ul{
	padding:0;
	margin:0;
}
.social-sits ul li{
	display:block;
	  margin: 2em 0;
}
.social-sits ul li a{
	padding:.5em 2em;
}
.facebook-button {
    margin-bottom: 4em;
}
.facebook-button a{
    background: url(../images/fb1.png) no-repeat 14px 15px #3b5998;
    color: #fff;
    padding: 1em 1em 1em 3em;
    text-decoration: none;
    font-size: 14px;
}
.chrome-button a{
    background: url(../images/ch1.png) no-repeat 14px 15px #dd4b39;
    color: #FFF;
    font-size: 14px;
    padding: 1em 1em 1em 3em;
    text-decoration: none;
}
.social-sits p{
  color: #7e7f84;
  font-size: 14px;
}
.feedback-grid p{
	color:#000;
	font-size:14px;
	margin:0;
}
 #small-dialog4 {
  max-width: 33%;
}
 #small-dialog5 {
  max-width: 33%;
  text-align: left;
}
 #small-dialog6{
  max-width: 33%;
  text-align:left;
}
.video-information-text h4{
  color: #f45a40;
  margin: 0;
  font-size: 26px;
  text-align: center;
}
.video-information-text p{
	color: #525254;
	margin: 1em 0;
	font-size: 14px;
	line-height: 1.8em;	
	text-align:center;
}
.video-information-text ol li{
	color: #9E9E9E;
	margin: 1em 0;
	font-size: 13px;
	line-height: 1.8em;
}
div#small-dialog8 {
    width: 33%;
    padding: 3em;
}
.subscribe-grid{
    float: none !important;
    padding: 0;
    text-align: center;
    width: 100%;
	border:none;
}