<div class="text-center">
    <div class="error-message">
        {{errorMessage.description}}
    </div>
    <p>
        <img src="/static/images/access-denied.jpg" alt="access-denied"/>
    </p>
</div>