<div class="main-grids">
    <div class="top-grids">
        <div class="recommended-info">
            <h3>{{principal.name}} Videos</h3>
        </div>
        <div ng-include="'/static/html/include/video-frame.html'"></div>
    </div>
</div>
