<div class="text-center">
    <div class="btn-group" role="group">
        <a ng-href="#/admin/companies" type="button" class="btn btn-primary">Companies</a>
        <a ng-href="#/admin/statistic" type="button" class="btn btn-primary">Statistic</a>
        <a ng-href="#/admin/users" type="button" class="btn btn-primary">Users</a>
    </div>
    <div>
        <h3>Users</h3>
        <div class="admin-content">
            <!--table-->
            <table class="table table-hover admin-table">
                <thead align="left">
                    <tr>
                        <th>Login</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Role</th>
                        <th>Company</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in dataPage.content">
                    <td>{{ user.login }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.surname }}</td>
                    <td>{{ user.role }}</td>
                    <td>{{ user.company.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-sm btn-primary" ng-click="editUser(user)">Edit</button>
                            <button type="button" class="btn btn-sm btn-danger" ng-really-message="Are you really want to delete this user?" ng-really-click="deleteUser(user)">Delete</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--table-->
            <button type="button" class="btn btn-sm btn-primary" ng-disabled="dataPage.last || loading" ng-click="loadMore()">Load More Users</button>
            <!--form-->
            <div class="admin-form">
                <form role="form" ng-submit="submitUser()">
                    <input ng-model="user.id" type="hidden">
                    <div class="form-group">
                        <label for="login" class="control-label">Login</label>
                        <input ng-model="user.login" type="text" class="form-control" id="login" required="required"/>
                    </div>
                    <div class="form-group">
                        <label for="name" class="control-label">Name</label>
                        <input ng-model="user.name" type="text" class="form-control" id="name" required="required"/>
                    </div>
                    <div class="form-group">
                        <label for="surname" class="control-label">Surname</label>
                        <input ng-model="user.surname" type="text" class="form-control" id="surname" required="required">
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label">Password</label>
                        <input ng-model="user.password" type="password" title="Password must contain 6 - 15 chars, and at least one upper case, one lower case and one number"
                               class="form-control" id="password" required="required">
                    </div>
                    <div class="form-group">
                        <label for="confirm" class="control-label">Confirm Password</label>
                        <input ng-model="confirm" type="password" class="form-control" id="confirm" required="required">
                    </div>
                    <div class="form-group">
                        <label for="role" class="control-label">Role (use autocomplete only)</label>
                        <input ng-model="user.role" auto-complete type="text" class="form-control" id="role" required="required">
                    </div>
                    <div class="form-group">
                        <label for="company-name" class="control-label">Company (use autocomplete only)</label>
                        <input ng-model="companyName" auto-complete type="text" class="form-control" id="company-name" required="required">
                    </div>
                    <div class="form-group">
                        <label for="email" class="control-label">Email</label>
                        <input ng-model="user.email" ng-change="getAvatarUrl()" type="email" class="form-control" id="email" required="required">
                    </div>
                    <div class="form-avatar" ng-show="user.avatar && user.email">
                        <img alt="Avatar" ng-src="{{user.avatar}}">
                    </div>
                    <div class="error-message">
                        {{errorMessage.description}}
                    </div>
                    <button type="submit" class="btn btn-success" ng-show="user.id">Save</button>
                    <button type="submit" class="btn btn-success" ng-show="!user.id">Add New</button>
                    <button type="button" class="btn btn-primary" ng-click="resetForm()">Reset Form</button>
                </form>
            </div>
            <!--form-->
        </div>
    </div>
    <div ng-include="'/static/html/include/email-validation.html'"></div>
    <div ng-include="'/static/html/include/password-validation.html'"></div>
    <div ng-include="'/static/html/include/floating-label.html'"></div>
</div>