<div class="text-center">
    <div class="btn-group" role="group">
        <a ng-href="#/admin/companies" type="button" class="btn btn-primary">Companies</a>
        <a ng-href="#/admin/statistic" type="button" class="btn btn-primary">Statistic</a>
        <a ng-href="#/admin/users" type="button" class="btn btn-primary">Users</a>
    </div>
    <div>
        <h3>Today Statistic</h3>
        <h4 ng-hide="statisticList.length > 0">No views for today</h4>
        <div ng-show="statisticList.length > 0" class="admin-content">
            <!--table-->
            <table class="table table-hover admin-table">
                <thead align="left">
                    <tr>
                        <th>Video title</th>
                        <th>View count</th>
                        <th>Unique Users count</th>
                        <th>Unique IP count</th>
                    </tr>
                </thead>
                <tbody>
                <tr ng-repeat="statistic in statisticList">
                    <td>{{ statistic.videoTitle }}</td>
                    <td>{{ statistic.viewCount }}</td>
                    <td>{{ statistic.accountIdSet.length }}</td>
                    <td>{{ statistic.clientIpSet.length }}</td>
                </tr>
                </tbody>
            </table>
            <!--table-->
        </div>
    </div>
</div>