<div class="text-center">
    <div class="btn-group" role="group">
        <a ng-href="#/admin/companies" type="button" class="btn btn-primary">Companies</a>
        <a ng-href="#/admin/statistic" type="button" class="btn btn-primary">Statistic</a>
        <a ng-href="#/admin/users" type="button" class="btn btn-primary">Users</a>
    </div>
    <div>
        <h3>Companies</h3>
        <div class="admin-content">
            <!--table-->
            <table class="table table-hover admin-table">
                <thead align="left">
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <tr ng-repeat="company in dataPage.content">
                    <td>{{ company.name }}</td>
                    <td>{{ company.address }}</td>
                    <td>{{ company.email }}</td>
                    <td>{{ company.phone }}</td>
                    <td>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-sm btn-primary" ng-click="editCompany(company)">Edit</button>
                            <button type="button" class="btn btn-sm btn-danger" ng-really-message="Are you really want to delete this company?" ng-really-click="deleteCompany(company)">Delete</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--table-->
            <button type="button" class="btn btn-sm btn-primary" ng-disabled="dataPage.last || loading" ng-click="loadMore()">Load More Companies</button>
            <!--form-->
            <div class="admin-form">
                <form role="form" ng-submit="submitCompany()">
                    <input ng-model="company.id" type="hidden">
                    <div class="form-group">
                        <label for="name" class="control-label">Name</label>
                        <input ng-model="company.name" type="text" class="form-control" id="name" required="required"/>
                    </div>
                    <div class="form-group">
                        <label for="address" class="control-label">Address</label>
                        <input ng-model="company.address" type="text" class="form-control" id="address" required="required"/>
                    </div>
                    <div class="form-group">
                        <label for="email" class="control-label">Email</label>
                        <input ng-model="company.email" type="email" class="form-control" id="email" required="required"/>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="control-label">Phone</label>
                        <input ng-model="company.phone" type="text" class="form-control" id="phone" required="required"/>
                    </div>
                    <div class="error-message">
                        {{errorMessage.description}}
                    </div>
                    <button type="submit" class="btn btn-success" ng-show="company.id">Save</button>
                    <button type="submit" class="btn btn-success" ng-show="!company.id">Add New</button>
                    <button type="button" class="btn btn-primary" ng-click="resetForm()">Reset Form</button>
                </form>
            </div>
            <!--form-->
        </div>
    </div>
    <div ng-include="'/static/html/include/email-validation.html'"></div>
    <div ng-include="'/static/html/include/phone-validation.html'"></div>
    <div ng-include="'/static/html/include/floating-label.html'"></div>
</div>