<div class="text-center">
    <div>
        <h3>Please enter your new password</h3>
        <div class="admin-content">
            <!--form-->
            <div class="password-restore-form">
                <form role="form" ng-submit="submit(password)">
                    <div class="form-group">
                        <label for="password" class="control-label">Password</label>
                        <input ng-model="password" title="Password must contain 6 - 15 chars, and at least one upper case, one lower case and one number"
                               type="password" class="form-control" id="password" required="required"/>
                    </div>
                    <div class="form-group">
                        <label for="confirm" class="control-label">Password confirm</label>
                        <input ng-model="confirm" type="password" class="form-control" id="confirm" required="required"/>
                    </div>
                    <button type="submit" class="btn btn-success">Send</button>
                </form>
            </div>
            <!--form-->
        </div>
    </div>
    <div ng-include="'/static/html/include/password-validation.html'"></div>
    <div ng-include="'/static/html/include/floating-label.html'"></div>
</div>