<!-- Start Video -->
<div class="edit-video">
    <div class="video">
        <div class="video-info text-center">
            <h3>{{video.title}}</h3>
        </div>
        <div class="video-grid">
            <div class="embed-responsive embed-responsive-16by9">
                <video ng-src="{{video.videoUrl}}" ng-attr-poster="{{video.thumbnail}}" controls="controls"></video>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="published">
        <div class="media">
            <div class="media-left">
                <img class="media-object small-avatar thumbnail" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" ng-src="{{video.account.avatar}}" alt="avatar">
            </div>
            <div class="media-body">
                <span us-spinner="{radius:25, width:10, length: 20, color: 'blue'}"></span> <h4 class="media-heading">{{video.account.name}}</h4>
                <p>{{video.description}}</p>
                <span>Company: "{{video.account.company.name}}"</span> <br/> <span>{{video.views}} views</span>
            </div>
        </div>
        <hr/>
    </div>
    <!--form-->
    <div class="edit-video-form">
        <form role="form" ng-submit="updateVideo(video)">
            <input ng-model="company.id" type="hidden">
            <div class="form-group">
                <label for="title" class="control-label">Title</label>
                <input ng-model="video.title" pattern=".{1,20}" title="Max 20 characters is allowed" type="text" class="form-control" id="title" required="required"/>
            </div>
            <div class="form-group">
                <label for="description" class="control-label">Description</label>
                <input ng-model="video.description" type="text" class="form-control" id="description" required="required"/>
            </div>
            <button type="submit" class="btn btn-success">Save</button>
            <a ng-href="#/my-account/video/all" type="button" class="btn btn-primary">Cancel</a>
        </form>
    </div>
    <!--form-->
    <div class="clearfix"></div>
    <div ng-include="'/static/html/include/floating-label.html'"></div>
</div>