<div id="small-dialog">
    <h3>Login</h3>
    <hr>
    <div class="signup">
        <form role="form" ng-submit="login()">
            <span class="error-message">{{errorMessage.description}}</span>
            <input name="login" ng-model="credentials.login" type="text" class="login" placeholder="Enter login" required="required"/>
            <input name="password" ng-model="credentials.password" type="password" placeholder="Password" required="required" autocomplete="off"/>
            <div class="remember-me">
                <label>Remember Me: <input type="checkbox" ng-model="credentials.remember_me"/> </label>
            </div>
            <input type="submit" value="LOGIN"/>
        </form>
        <div class="forgot">
            <a href="#/restore-password">Forgot password ?</a>
        </div>
    </div>
    <div class="clearfix"></div>
</div>