<div class="text-center">
    <div>
        <h3>Please enter your registration E-mail adress</h3>
        <div class="admin-content">
            <!--form-->
            <div class="password-restore-form">
                <form role="form" ng-submit="submit(email)">
                    <span class="error-message">{{errorMessage.description}}</span>
                    <span class="success-message">{{successMessage}}</span>
                    <div class="form-group">
                        <label for="email" class="control-label">Email</label>
                        <input ng-model="email" type="email" class="form-control" id="email" required="required"/>
                    </div>
                    <button type="submit" class="btn btn-success">Send</button>
                </form>
            </div>
            <!--form-->
        </div>
    </div>
    <div ng-include="'/static/html/include/email-validation.html'"></div>
    <div ng-include="'/static/html/include/floating-label.html'"></div>
</div>