<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="col-sm-8 single-left text-center error-message">
        <div> {{errorMessage.message}} </div>
        <div> {{errorMessage.description}} </div>
    </div>
    <div class="show-top-grids">
        <!-- Start Video -->
        <div ng-show="video.id" class="col-sm-8 single-left">
            <div class="video">
                <div class="video-info text-center">
                    <h3>{{video.title}}</h3>
                </div>
                <div class="video-grid">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video ng-src="{{video.videoUrl}}" ng-attr-poster="{{video.thumbnail}}" controls="controls"></video>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="published">
                <div class="media">
                    <div class="media-left">
                        <img class="media-object small-avatar thumbnail" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" ng-src="{{video.account.avatar}}" alt="avatar">
                    </div>
                    <div class="media-body">
                        <span us-spinner="{radius:25, width:10, length: 20, color: 'blue'}"></span> <h4 class="media-heading">{{video.account.name}}</h4>
                        <p>{{video.description}}</p>
                        <span>Company: "{{video.account.company.name}}"</span> <br/> <span>{{video.views}} views</span>
                    </div>
                </div>
                <hr/>
            </div>
        </div>
        <!-- End Video -->
        <div ng-include="'/static/html/include/same_author.html'"></div>
        <div class="clearfix"></div>
    </div>
</div>