<div class="upload">
    <!-- container -->
    <div class="container">
        <div class="upload-grids">
            <div class="upload-right">
                <div class="upload-file">
                    <div class="upload-form">
                        <form name="uploadForm" ng-submit="submit()">
                            <fieldset class="ng-binding">
                                <h3 class="text-center">Upload new Video</h3>
                                <hr>

                                <div class="form-group video-upload-input">
                                    <label for="title" class="control-label">Title</label>
                                    <input ng-model="title" type="text" class="form-control" id="title" name="title" pattern=".{1,20}" title="Max 20 characters is allowed" required="required"/>
                                </div>
                                <i ng-show="uploadForm.title.$error.required">*required</i><br>
                                <div class="form-group video-upload-input">
                                    <label for="description" class="control-label">Description</label>
                                    <input ng-model="description" type="text" class="form-control" id="description" name="description" required="required"/>
                                </div>
                                <i ng-show="uploadForm.description.$error.required">*required</i><br><br>
                                <div class="form-group video-upload-form-group">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <span class="btn btn-primary btn-file">Select video&hellip;
                                                <input type="file" name="file" class="btn btn-primary" ngf-select ng-model="file" ngf-accept="'video/*'" required="required">
                                            </span>
                                        </span>
                                        <input type="text" name="video-name" class="form-control" readonly>
                                    </div>
                                </div>
                                <i ng-show="uploadForm.file.$error.required">*required</i><br>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-lg btn-primary" ng-disabled="uploading">Submit</button>
                                </div>
                                <br> <br>
                                <div class="progress progress-bar-success" ng-show="progressPercentage >= 0" role="progressbar" aria-valuenow="{{progressPercentage}}" aria-valuemin="0" aria-valuemax="100" ng-style="{width : ( progressPercentage + '%' ) }">
                                    <span>{{progressPercentage}}% Complete</span>
                                </div>
                                <span ng-show="progressPercentage == 100">Upload Successful</span>
                            </fieldset>
                            <br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //container -->
    <div ng-include="'/static/html/include/floating-label.html'"></div>
    <!--file input script-->
    <script type="text/javascript">
        $(document).on('change', '.btn-file :file', function () {
            var input = $(this),
                    numFiles = input.get(0).files ? input.get(0).files.length : 1,
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });

        $(document).ready(function () {
            $('.btn-file :file').on('fileselect', function (event, numFiles, label) {

                var input = $(this).parents('.input-group').find(':text'),
                        log = numFiles > 1 ? numFiles + ' files selected' : label;

                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }

            });
        });
    </script>
</div>